html{
    scroll-behavior: smooth;
}

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Raleway', sans-serif;
}
a, a:hover {
    text-decoration: none;
    color: unset;
}
body{
    font-size: 14px;
}

header{
    width: 100%;
    height: 100vh;
    background-color: #fff;
    color: #000;
}

header #particles{
    position:absolute;
    width: 100%;
    height: 100%;
    top: 0;
    left: 0;
}

.main-tela {
    display: flex;
    justify-content: center;
    flex-direction: column;
    align-items: center;
    height: 100vh;
}
.main-text {
    display: flex;
    flex-direction: column;
    align-items: center;
}
.main-text h1 {
    font-size: 100px;
}
.main-text p {
    font-size: 18px;
}
.main-buttons {
    display: flex;
    justify-content: space-around;
    width: 20%;
    padding: 10px;
    margin-top: 10px;
    
}
.main-buttons button {
    position: relative;
    width: 120px;
    height: 35px;
    border-radius: 10px;
    background-color: #000;
    color: #fff;
}

.main-buttons button:hover {
    background-color: #000;
}